@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap");

body {
  height: 150vh;
  margin: 0;
  border: 5px solid turquoise;
  font-family: "Open Sans", sans-serif;
}

.playlist {
  margin: 50px 0px;
  display: flex;
  font-weight: 800;
  font-size: 50px;
}

.playlist__icon {
  display: flex;
  width: 10%;
  justify-content: center;
  align-items: center;
}
.playlist__icon span {
  margin-left: 20px;
}

.playlist__text {
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.playingMusic {
  display: flex;
}

.playingMusic div:first-child {
  width: 40%;
}

.playingMusic div:first-child div {
  width: 200px;
  height: 200px;
  background-color: orange;
  border: 5px solid black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 40px;
}
.playingMusic div:last-child {
  width: 60%;
  display: flex;

  flex-direction: column;
}
.playingMusic div:last-child span:first-child {
  line-height: 80px;
  font-size: 70px;
  font-weight: 800;
}
.playingMusic div:last-child span:last-child {
  font-size: 30px;
  font-weight: 400;
}

.playBtn {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-left: 40px;
}
.playBtn__column {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.playBtn__start {
  margin: 0px;
  border: 3px solid black;
  border-bottom-width: 8px;
  border-radius: 10px;
  width: 280px;
  height: 70px;
}
.playBtn__start i {
  margin-left: 60px;
}
.playBtn__start span {
  padding-left: 20px;
  font-size: 40px;
  font-weight: 800;
}

.playBtn__column2 {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.playBtn__like {
  background-color: white;

  border: 3px solid black;
  border-bottom-width: 8px;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin-bottom: 0px;
}
.playBtn__like i {
  margin: 25px;
}
.playBtn__plus {
  background-color: white;

  border: 3px solid black;
  border-bottom-width: 8px;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin-bottom: 0px;
}
.playBtn__plus i {
  margin: 25px;
}
ul {
  list-style: none;
  margin-top: 0px;
}
li {
  display: flex;
  margin: 50px 0px;
}
li div:first-child div {
  width: 70px;
  height: 70px;
  border: 3px solid black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
}

li:first-child div:first-child div {
  background-color: tomato;
}
li:nth-child(2) div:first-child div {
  background-color: pink;
}
li:nth-child(3) div:first-child div {
  background-color: blue;
}
li:last-child div:first-child div {
  background-color: turquoise;
}
li div:last-child {
  display: flex;
  flex-direction: column;
}
li div:last-child span:first-child {
  font-size: 30px;
  font-weight: 800;
}

li div:last-child span:last-child {
  font-size: 20px;
  font-weight: 200;
}
